Library/
Temp/
ExportedObj/
Logs/
Unity/.history
Unity/.vscode
obj/
.svn/
.vscode/


tags
tags.meta

*.vim
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.swp
*.swo
*.sln
*.csproj

.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
